[submodule "external/keine"]
	path = external/keine
	url = https://github.com/CyanChanges/keine
	branch = master
[submodule "external/k2s"]
	path = external/k2s
	url = https://github.com/CyanChanges/k2srv-loader
